.footer {
  background-color: #000;
  color: rgb(241, 7, 144);
  padding: 40px 5%;
  text-align: center;
}

.footer p {
  font-size: 12px;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.social-icons a {
  color: rgb(241, 7, 144);
  font-size: 18px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: var(--accent-color);
}
